.input::placeholder {
    color: var(--unnamed-color-8d9ba6);
    text-align: left;
    font: normal normal normal 14px/52px Open Sans;
    letter-spacing: 0.14px;
    color: #8D9BA6;
    opacity: 1;
    font-size: 14px;

}

.input:focus-visible {

    outline: none;

}

.a:hover {
    color: rgb(166, 68, 232);
}

.img {
    width: 30%;
    height: 40px;
    border: 7px solid #d5dfe6;
}

.card {
    border: none;
    box-shadow: 0px 0px 25px #D5DFE666;
}


hr {
    width: 100%;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    color: #2aebab;
}

.home{
    color: #8842db;
}